* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
.App {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 15% 80%;
  align-content: space-between;
}
.content {
  display: grid;
  grid-template-columns: 60% 40%;
}
