* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img {
  background-image: url("../../public/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: center;
}
