* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  display: flex;
  color: black;
  align-items: center;
  justify-content: space-evenly;
}
button {
  height: 20vh;
  width: 20vw;
}
.redcolor {
  background-color: red;
}
.redcolor #red {
  color: red;
  font-size: 1.5em;
}
.bluecolor {
  background-color: blue;
}
.bluecolor #blue {
  color: blue;
  font-size: 1.5em;
}
.orangecolor {
  background-color: orange;
}
.orangecolor #orange {
  color: orange;
  font-size: 1.5em;
}
.reset {
  background-color: white;
}
